@model LanguageFeatures.Models.ProductDetailsModels

@*<table>
	<tr>
		<td>ID:</td>
		<td>@Model.productID</td>
	</tr>
	<tr>
		<td>Name:abc</td>
		<td>@Model.name</td>
	</tr>
	<tr>
		<td>Description:</td>
		<td>@Model.decription</td>
	</tr>
	<tr>
		<td>Category:</td>
		<td>@Model.cetagory</td>
	</tr>
	<tr>
		<td>Price:</td>
		<td></td>
	</tr>
</table>*@

@*Change the format of displaying product details*@
ID:&nbsp;@Model.productID&nbsp;Name:&nbsp;@Model.name&nbsp;Description:&nbsp;@Model.decription&nbsp;Category:&nbsp;@Model.cetagory&nbsp;Price:&nbsp;@Model.price